### IntelliJ IDEA ###
# -----------------------------
# Compiled output
# -----------------------------
/bin/
/out/
*.class

# -----------------------------
# Java build files
# -----------------------------
*.jar
*.war
*.ear

# -----------------------------
# Eclipse
# -----------------------------
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# -----------------------------
# NetBeans
# -----------------------------
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Mac OS
# -----------------------------
.DS_Store

# -----------------------------
# Include source code folders
# -----------------------------
# BasicConcepts, OOPConcepts, StringConcepts
!src/main/java/com/mallik/BasicConcepts/
!src/main/java/com/mallik/OOPConcepts/
!src/main/java/com/mallik/StringConcepts/
